/* Hacer que el header sea transparente y superpuesto sobre la imagen de fondo */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    color: #fff;
    text-align: center;
}

/* Configurar la primera sección para que la imagen cubra también el header */
#seccion1 {
    background-image: url('images/mi-imagen.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ocupa toda la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    margin-top: -50px; /* Para compensar el espacio ocupado por el header */
    padding-top: 50px; /* Para ajustar el contenido dentro de la sección */
}

/* Otros estilos permanecen igual */
body {
    background-color: #DDA0DD;
}

/* Estilos para el selector de idioma */
.language-selector {
    position: absolute;
    top: 10px;
    right: 20px;
}

.language-selector button {
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}

.language-selector button:hover {
    text-decoration: underline;
}
